# Hugo default output directory
public/
resources/
hugo_stats.json

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# build files
.hugo_build.lock

# installer files
webi_installer.sh
