{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <div class="project-content">
    {{ .Content }}
  </div>

  <!-- List of papers -->
  <h3>Related Publications</h3>
  <ul class="paper-list">
    {{ $papers := where $.Site.RegularPages "Section" "publications" }}
    {{ if eq $.Kind "page" }}
      {{ $papers = where $papers "Params.projects" "intersect" (slice .Params.Project) }}
    {{ end }}
    {{ range sort $papers "Params.date" "desc" }}
      <li>{{ partial "paper-listing.html" . }}</li>
    {{ end }}
  </ul>
{{ end }}
