<p>
  <span class="paper-title"><a href="{{ .RelPermalink }}">{{ .Title | $.RenderString }}.</a></span>
  <br>

  {{ with .Params.authors }}
    <span class="paper-authors">{{ . | $.RenderString }}.</span>
    <br>
  {{ end }}

  {{ with .Params.venue }}
    <span class="paper-venue">{{ . | $.RenderString }}.</span>
    <br>
  {{ end }}
</p>

{{ with .Params.award }}
  <ul class="paper-awards">
    {{ range . }}
      <li>
        <span class="icon"><i class="fas fa-trophy" aria-hidden="true"></i></span>&nbsp;{{ . | $.RenderString }}
      </li>
    {{ end }}
  </ul>
{{ end }}

<ul class="paper-links has-text-left">
  {{ partial "link_resources" .Params.links }}
  {{ partial "pdf_resources" . }}
  {{ partial "link_resources" .Params.news }}
</ul>
