{{ $projects := where $.Site.RegularPages "Section" "projects" }}
<div class="columns is-multiline has-text-left">
  <!-- Main Projects -->
  {{ range where $projects.ByWeight.Reverse ".Params.concluded" false }}
    <div class="column is-12">
      {{ $class := index (shuffle (slice "is-link" "is-info")) 0 }}
      {{ $text := cond (eq $class "is-primary") "has-text-grey-darker" "has-text-white"}}
      <article class="notification {{ $class }} {{ $text }}">
        {{ partial "project_listing.html" . }}
      </article>
    </div>
  {{ end }}
  <!-- Concluded Projects -->
  {{ range where $projects.ByWeight.Reverse ".Params.concluded" "!=" "nil" }}
    <div class="column is-6">
      {{ $class := index (shuffle (slice "is-dark" "is-warning" "is-primary" "is-success")) 0 }}
      {{ $text := cond (eq $class "is-dark") "has-text-white" "has-text-grey-darker"}}
      <article class="notification {{ $class }} {{ $text }}">
        {{ partial "project_listing.html" . }}
      </article>
    </div>
  {{ end }}
</div>
