/* Text */
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    text-rendering: optimizeLegibility;
    display: flex;
    height: 100%;
}

/* Text layout */
p { margin: 0.8em 0; }
b, strong, h1, h2, h3, h4 { font-weight: 700; }
h1 > a { font-size: 1.5em; }
h1, h2 {
    margin: 0.2em 0;
    padding: 0.2em 0;
}
h3 { margin: 1.2em 0 0.2em 0 ; }
h2 > a { color: #333; }
h2 > a:hover { color: #000; }
a {
  color: #274798;
  text-decoration: none;
  transition:.5s;
}
a:hover {
  color: #f16421;
  text-decoration: none;
}

/* Main container */
.padding { flex-grow: 1; }
#container {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-basis: 70em;
}
#left { background-color: #141f33; }

/* Page content */
#content { padding: 1em; }
#content p {
    margin-top: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
}
#content img {
    display: block;
    margin: auto;
    max-width: 40%;
    min-width: 350px;
}
code, pre {
  font-size: 0.9em;
  max-width: 30em;
  overflow-x: scroll;
}
.highlight > pre { padding-right: 10px; }
@media screen and (min-width: 48em) {
    #content {
        padding: 1.5em 1.5em 0 1.5em;
        flex: 3 0px;
    }
    code, pre { max-width: 60em; }
}
.grid-item { width: 200px; border: 1px solid #000;}
.grid-item--width2 { width: 400px; border: 1px solid #000;}

/* Sidebar */
#sidebar {
    padding: 1em;
    background-color: #141f33;
    color: #ffffff;
    width: 100%;
}
#sidebar a { color: #fff; }
#sidebar a:hover { color: #d0d1e6; }
#sidebar h1 {
    line-height: 1.0;
    margin: 0 0 0.3em 0;
}
#sidebar-img {
    max-width: 8em;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin: 0.5em;
}
#sidebar-img img {
    max-width: 75%;
    height: auto;
    display: block;
}
#sidebar-content {
    display: inline-block;
    vertical-align: top;
}
#sidebar-content ul.icon-list {
  padding: 0;
  margin: 2em 0 0 0;
  overflow: hidden;
  text-align: center;
}
#sidebar-content ul.icon-list li {
  list-style: none;
  float: left;
}
#sidebar-content ul.icon-list li i {
  padding: 0 5px 0 5px;
  font-size: 2em;
}
#sidebar-content ul.icon-list li span { display: none; }
@media screen and (min-width: 48em) {
    #sidebar { flex: 1 0px; }
    #sidebar-img {
        display: block;
        max-width: none;
        margin-right: 0;
    }
    #sidebar-content ul.icon-list li i { font-size: 1.5em; }
}

/* Paper lists */
.paper-title { font-weight: 500; }
.paper-award { color: #812717; }
.paper-venue { font-style: italic; }
ul.paper-list {
    padding: 0;
    margin: 0;
}
ul.paper-list p {
    margin: 0;
    line-height: 1.4;
}
ul.paper-list li {
    list-style: none;
    margin-bottom: 1.5em;
}
ul.single-paper-links { padding: 5px; }
ul.single-paper-links li {
    padding: 1px;
    margin: 2px;
    list-style: none;
    display: inline;
    font-size: 120%;
}
ul.single-paper-links li:after {
    content: "";
    padding: 10px;
}

/* Footer */
footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  padding-top: 3em;
  font-size: 12px;
  text-align: center;
}

/* Blocks */
blockquote {
  padding: 1em;
  margin: 0 0 1em 0;
  display: flex;
  border-left: 5px solid #274798;
  background-color: #e6f3fb;
}
blockquote > .text {
  padding-left: 2em;
  flex: 1;
}
blockquote.info > .icon { color: #274798; }

/* Breadcrumb Navigation */
ol.breadcrumbs {
    padding: 5px 16px;
    margin-top: 0;
    list-style: none;
    background-color: #eee;
    border-radius: 10px;
}
ol.breadcrumbs li {
    display: inline;
    font-size: 90%;
}
ol.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    font-family: Fontawesome;
    content: "\f0da";
    color: #999;
}
