/* Text */
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    text-rendering: optimizeLegibility;
    display: flex;
}

/* Text layout */
p { margin: 0.8em 0; }
b, strong, h1, h2, h3, h4 { font-weight: 700; }
h1 > a { font-size: 1.5em; }
h2 {
    border-bottom: 1px solid #d3d3d3;
    margin: 0.4em 0;
    padding: 0.5em 0;
}
h3 { margin: 1.2em 0 0.2em 0 ; }
h2 > a { color: #333; }
h2 > a:hover { color: #000; }
a {
  color: #274798;
  text-decoration: none;
  transition:.5s;
}
a:hover {
  color: #f16421;
  text-decoration: none;
}

/* Main container */
.padding { flex-grow: 1; }
#container {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-basis: 70em;
}
#left { background-color: #141f33; }

/* Page content */
#content { padding: 1em; }
#content p {
    margin-top: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
}
#content img {
    display: block;
    margin: auto;
    max-width: 40%;
    min-width: 350px;
}
@media screen and (min-width: 48em) {
    #content {
        padding: 1.5em;
        flex: 3 0px;
    }
}

/* Sidebar */
#sidebar {
    padding: 1em;
    background-color: #141f33;
    color: #ffffff;
}
#sidebar a { color: #cccccc; }
#sidebar a:hover { color: #999; }
#sidebar h1 {
    line-height: 1.0;
    margin: 0 0 0.3em 0;
}
#sidebar-img {
    max-width: 8em;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin: 0.5em;
}
#sidebar-img img {
    max-width: 75%;
    height: auto;
    display: block;
}
#sidebar-content {
    display: inline-block;
    vertical-align: top;
}
@media screen and (min-width: 48em) {
    #sidebar { flex: 1 0px; }
    #sidebar-img {
        display: block;
        max-width: none;
        margin-right: 0;
    }
}

/* Paper lists */
.paper-title { font-weight: 500; }
.paper-award { color: #812717; }
.paper-venue { font-style: italic; }
ul.paper-list {
    padding: 0;
    margin: 0;
}
ul.paper-list p {
    margin: 0;
    line-height: 1.4;
}
ul.paper-list li {
    list-style: none;
    margin-bottom: 1.5em;
}
ul.single-paper-links { padding: 5px; }
ul.single-paper-links li {
    padding: 1px;
    margin: 2px;
    list-style: none;
    display: inline;
    font-size: 120%;
}
ul.single-paper-links li:after {
    content: "";
    padding: 10px;
}

/* Footer */
footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 3em;
  font-size: 12px;
}

/* Blocks */
blockquote {
  padding: 1em;
  margin-bottom: 1em;
}

blockquote.warning {
    border-left: 5px solid #ff1d55;
    background-color: #ffe9ee;
}

blockquote.info {
  border-left: 5px solid #6bb1e0;
  background-color: #e6f3fb;
}

blockquote.note {
  border-left: 5px solid #84c578;
  background-color: #e8f7e6;
}
