@use "sass:map";
@use "theme_vars" as tv;

// Section
$section-padding: 0.1rem;
$section-padding-desktop: 0.1rem;
$section-padding-medium: 0.1rem;
$section-padding-large: 0.1rem;

// Footer configuration
$footer-background-color: map.get(tv.$content, background);
$footer-padding: 0.25rem;

// Text size
$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1rem;
$size-6: 0.75rem;
$size-7: 0.5rem;
$size-normal: 1.25rem;

// Fonts
$family-sans-serif: map.get(tv.$fonts, content), sans-serif;
$family-monospace: map.get(tv.$fonts, mono), monospace;
$family-primary: map.get(tv.$fonts, content), sans-serif;
$family-secondary: map.get(tv.$fonts, sidebar), serif;
$family-code: map.get(tv.$fonts, mono), monospace;

// Text and Background Colors
$text: map.get(tv.$content, text);
$background: map.get(tv.$content, background);
$body-background-color: map.get(tv.$content, background);
$link: map.get(tv.$content, link);
$link-hover: map.get(tv.$content, hover);
