@use "sass:map";
@use "theme_vars" as tv;

/* Code, MathJax and Highlighting */
code, pre {
  white-space: pre-wrap;

  .has-jax {
    font: inherit;
    font-size: 100%;
    color: map.get(tv.$content, text);
    background: inherit;
    border: inherit;
  }
}

pre {
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  padding: 0.5rem;
}
