/**
 * Configure text appearence for the document: Fonts and font colors
 */

/* Document fonts */
html {
  font-family: #{map-get($font, body)}, sans-serif;
  @include font_config(1rem, #{map-get($content, text)}, #{map-get($font_weight, body_tw)}, 1.6);
  text-align: justify;
}

b, strong, h1, h2, h3, h4 { font-weight: #{map-get($font_weight, body_bw)}; }

h1, h2, h3, h4 { text-align: left; }

p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

figure, footer { font-size: 80%; }

code, pre {
  font-family: #{map-get($font, mono)}, monospace, sans-serif;
  @include font_config(90%);
  white-space: pre-wrap;

  .has-jax {
    font: inherit;
    font-size: 100%;
    color: #{map-get($content, text)};
  }
}

/* Sidebar */
#sidebar {
  color: #{map-get($sidebar, text)};

  a { @include link_style(#{map-get($sidebar, link)}, #{map-get($sidebar, hover)}); }

  h1 {
    font-family: #{map-get($font, title)}, sans-serif;
    @include font_config(false, false, #{map-get($font_weight, title_tw)}, false);

    b { font-weight: #{map-get($font_weight, title_bw)}; }
  }

  ul.icon-list {
    font-size: 150%;

    @include mq('tablet') { font-size: 120%; }

    @include mq('tablet-wide') { font-size: 140%; }

    li:hover { transform: scale(1.1); }
  }
}

/* Main Content */
#content {
  a { @include link_style(#{map-get($content, link)}, #{map-get($content, hover)}); }

  .subtitle { font-size: 60%; }
}

/* Publications */
.award { color: #{map-get($content, award)}; }

.venue { font-style: italic; }

.inline-paper-links {
  font-size: 80%;
  li {
    &:hover {
      border-color: #{map-get($content, hover)};

      a { color: #{map-get($content, hover)}; }
    }
  }
}

.single-paper-links { font-size: 120%; }

/* Projects */
.project {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  .text {
    font-size: 90%;

    h4 { font-size: 110%; }
  }
}

.titlesec {
  text-align: left;
  h1 { line-height: 1.1; }
}

.news {
  text-align: left;
}

.news-date {
  font-size: 80%;
  color: #666666;
  text-align: left;
  line-height: 1.2;
}
