/**
 * Configure the layout of the page
 */

/* Setup text elements */
html, body {
  hyphens: auto;
  -webkit-hyphens: auto;
}

p { margin: 0 0 2rem 0; }

hr {
  height:1px;
  background-color:#d3d3d3;
  margin: 0 0 1em 0;
}

body { font-size: $size-normal; }

/* Code, MathJax and Highlighting */
code, pre {
  white-space: pre-wrap;

  .has-jax {
    font: inherit;
    font-size: 100%;
    color: #{map-get($content, text)};
    background: inherit;
    border: inherit;
  }
}

pre {
  margin: 0.5rem;
  padding: 0.5rem;
}

/* Page content */
#left { background-color: #{map-get($sidebar, background)}; }

#right { background-color: #{map-get($content, background)}; }

#content {
  background-color: #{map-get($content, background)};
  padding: 1rem;

  h1 {
    border-bottom: 1px solid #d3d3d3;

    &.no-border { border: 0; }
  }
}

.is-min-full-height {
  min-height : 100vh;
}

footer {
  font-size: 80%;

  ul {
    @extend %inline-list;

    li {
      &:after {
        content: "\2022";
        padding: 0 5px;
      }

      &:last-child { &:after { content: ""; } }
    }
  }
}

/* Breadcrumb Navigation */
.breadcrumb {
  padding: 0.2rem 1rem;
  margin-top: 0;
  background-color: #eee;
  border-radius: 0.2rem;
  font-size: 70%;
}
