/**
 * Configure the layout of the page
 *

/* Page content */
#left { background-color: map-get($sidebar, background); }

#right { background-color: map-get($content, background); }

#content {
  background-color: map-get($content, background);
  padding: 1rem;
  min-height: calc(100vh - 70px);

  h1 {
    border-bottom: 1px solid #d3d3d3;

    &.no-border { border: 0; }
  }
}

/* Setup text elements */
body {
  hyphens: auto;
  -webkit-hyphens: auto;
  font-size: $size-normal;
}

p { margin: 0 0 2rem 0; }

hr {
  height:1px;
  background-color:#d3d3d3;
  margin: 0 0 1em 0;
}

/* Footer */
footer {
  font-size: 70%;
  height: 70px;

  ul {
    @include content-seperated-list("\2022");
    margin: 2rem 0 0 1rem !important;

    li{
      &:before{ padding: 0 0.5rem; }
    }
  }
}

/* Breadcrumb Navigation */
.breadcrumb {
  padding: 0.2rem 1rem;
  margin: 0 0 2rem 0;
  background-color: #eee;
  border-radius: 0.3rem;
  font-size: 70%;
}
