// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Configure link colors and hover behavior
@mixin link_style($color, $hover, $decoration: none) {
  color: $color;
  text-decoration: $decoration;
  @include transition(all 0.2s ease-out);

  &:hover { color: $hover; }
}

// Inline lists
%inline-list {
  list-style: none;

  li { display: inline-block; }
}

%comma-seperated-list {
  @extend %inline-list;

  li+li:before { content: ", "; }
}
