/**
 * News listing on main page
 */

.news {
  padding-left: 1rem;
  margin-bottom: 2rem;
  list-style: none;

  li {
    margin-bottom: 1rem;

    .date {
      display: block;
      margin-left: -0.75rem;
      color: #666;
      text-align: left;
    }
  }
}
