#sidebar {
  font-family: #{map-get($fonts, sidebar)}, sans-serif;
  color: #{map-get($sidebar, text)};
  background-color: #{map-get($sidebar, background)};

  a { @include link_style(#{map-get($sidebar, link)}, #{map-get($sidebar, hover)}); }

  .icon-list {
    font-size: 150%;
    display:table;
    margin: 0 auto;
    @extend %inline-list;

    li {
      &:hover { transform: scale(1.1); }
    }
  }

  img {
    padding: .1rem;
    max-width: 256px;
    max-height: 256px;
    background-color: #{map-get($sidebar, background)};;
    border: 1px solid #{map-get($sidebar, text)};
  }

  figure {
    max-width: 256px;
    max-height: 256px;
  }
}
