@use "sass:map";
@use "bulma_theme" as bt;
@use "mixins" as mx;

#sidebar {
  color: map.get(bt.$sidebar, text);
  background-color: map.get(bt.$sidebar, background);

  a { @include mx.link_style(map.get(bt.$sidebar, link), map.get(bt.$sidebar, hover)); }

  h1 {
    font-family: map.get(bt.$fonts, sidebar), sans-serif;
    color: inherit;
  }

  .icon-list {
    font-size: 175%;
    display:table;
    margin: 0 auto;
    @include mx.inline-list;

    li {
      padding: 0 5px;

      &:hover { transform: scale(1.2); }
    }
  }

  figure {
    max-width: 256px;
    max-height: 256px;
  }

  img {
    padding: .1rem;
    background-color: map.get(bt.$sidebar, background);
    border: 1px solid map.get(bt.$sidebar, text);
  }

  @include bt.mobile {
    figure {
      max-width: 175px;
      max-height: 175px;
    }
  }
}

.padded-sidebar { padding: 2rem; }

.has-text-orange { color: #f96854 !important; }
