#sidebar {
  color: map-get($sidebar, text);
  background-color: map-get($sidebar, background);

  a { @include link_style(map-get($sidebar, link), map-get($sidebar, hover)); }

  h1 { font-family: map-get($fonts, sidebar), sans-serif; }

  .icon-list {
    font-size: 150%;
    display:table;
    margin: 0 auto;
    @extend %inline-list;

    li {
      &:hover { transform: scale(1.1); }
    }
  }

  figure {
    max-width: 256px;
    max-height: 256px;
  }

  img {
    padding: .1rem;
    background-color: map-get($sidebar, background);
    border: 1px solid map-get($sidebar, text);
  }

  @include mobile {
    figure {
      max-width: 175px;
      max-height: 175px;
    }
  }
}

.padded-sidebar {
  padding: 2rem;
}
