<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

{{ partial "header.html" . }}

<script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>

<body>
  <div class="padding" id="left"></div>

  <div id="container">
    <div id="sidebar">
      {{ partial "sidebar.html" . }}
    </div>
    <div id="content">
      {{ if (and (not .IsHome) (ne .Kind "404")) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}

      {{ block "main" . }}<!-- Main Block content -->{{ end }}

      {{ partial "footer.html" . }}
    </div>
  </div>

  <div class="padding" id="right"></div>

  {{ partial "js_footer.html" . }}
</body>

</html>
