html {
    font-family: #{map-get($font, body)}, sans-serif;
    font-display: auto;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
}

body {
    color: #{map-get($content, text)};
    font-weight: #{map-get($font_weight, body_tw)};
    line-height: 1.6;
}

b, strong, h1, h2, h3, h4 {
    font-weight: #{map-get($font_weight, body_bw)};
}

h2 {
    .subtitle {
        font-size: 60%;
    }
}

a {
    color: #{map-get($content, link)};
    text-decoration: none;
    transition: .5s;

    &:hover {
        color: #{map-get($content, hover)};
    }
}

#sidebar {
    color: #{map-get($sidebar, text)};

    a {
        color: #{map-get($sidebar, link)};

        &:hover {
            color: #{map-get($sidebar, hover)};
        }
    }

    h1 {
        font-family: #{map-get($font, title)}, sans-serif;
        font-weight: #{map-get($font_weight, title_tw)};

        b {
            font-weight: #{map-get($font_weight, title_bw)};
        }
    }

    ul.icon-list {
        font-size: 140%;
    }
}

#content {
    p {
        hyphens: auto;
        -webkit-hyphens: auto;
    }
}

footer {
    font-size: 80%;
}

code, pre {
    font-family: #{map-get($font, mono)}, Consolas, monospace, sans-serif;
    font-size: 90%;
    white-space: pre-wrap;

    .has-jax {
        font: inherit;
        font-size: 100%;
        color: #{map-get($content, text)};
    }
}

/* Publications */
paper {
    .award {
        color: #{map-get($content, award)};
    }

    .venue {
        font-style: italic;
    }

    .listing-links {
        font-size: 80%;

        li {
            transition: .5s;

            &:hover {
                border-color: #{map-get($content, hover)};

                a {
                    color: #{map-get($content, hover)};
                }
            }
        }
    }
}
