html, button, input, select, textarea {
  font-family: Lato, sans-serif
}

code, pre {
  font-family: Menlo, monospace;
  font-size: 0.9em;
  max-width: 30em;
  overflow-x: scroll;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: $text_color;
    text-rendering: optimizeLegibility;
}

b, strong, h1, h2, h3, h4 {
  font-weight: 700;
}

a {
  color: $text_link_color;
  text-decoration: none;
  transition: .5s;

  &:hover {
    color: $text_linkhover_color;
  }
}

#content p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.highlight > pre {
  padding-right: 10px;
}

@media screen and (min-width: 48em) {
    code, pre {
      max-width: 60em;
    }
}

#sidebar {
    color: $sidebar_link_color;

    a {
      color: $sidebar_link_color;

      &:hover {
        color: $sidebar_linkhover_color;
      }
    }
}

footer {
  font-size: 12px;
}
