html, button, input, select, textarea {
    font-family: #{map-get($font, body)}, sans-serif;
    font-display: auto;
}

code, pre {
    font-family: #{map-get($font, mono)}, monospace;
    font-size: 0.9em;
    max-width: 30em;
    overflow-x: scroll;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    background: #{map-get($content, background)};
    color: #{map-get($content, text)};
    text-rendering: optimizeLegibility;
}

b, strong, h1, h2, h3, h4 {
    font-weight: 700;
}

a {
    color: #{map-get($content, link)};
    text-decoration: none;
    transition: .5s;

    &:hover {
        color: #{map-get($content, hover)};
    }
}

#content p {
    hyphens: auto;
    -webkit-hyphens: auto;
}

.highlight > pre {
    padding-right: 10px;
}

@media screen and (min-width: 48em) {
    code, pre {
        max-width: 60em;
    }
}

#sidebar {
    color: #{map-get($sidebar, text)};

    a {
        color: #{map-get($sidebar, link)};

        &:hover {
            color: #{map-get($sidebar, hover)};
        }
    }

    h1 {
        font-weight: 900;
    }
}

#sidebar-content {
    ul.icon-list {
        li {
            i {
                font-size: 1.5em;
            }
        }
    }
}

footer {
    font-size: 12px;
}
