/**
 * Configure the layout of the page
 */

/* Grid layout */
body {
  display: flex;
  height: 100%;
}

.padding { flex-grow: 1; }

#left { background-color: #{map-get($sidebar, background)}; }

#right { background-color: #{map-get($content, background)}; }

#container {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-basis: 70rem;
}

/* Page content */
#content {
  background-color: #{map-get($content, background)};
  padding: 1rem 1rem 4rem 1rem;
  position: relative;

  p { margin-top: 0; }

  h1 {
    border-bottom: 1px solid #d3d3d3;

    &.no-border { border: 0; }
  }

  @include mq('phone') { min-height: 70%; }

  @include mq('tablet') { flex: 3 0px; }
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
}

/* Sidebar */
#sidebar {
  background-color: #{map-get($sidebar, background)};
  padding: 1rem;
  width: 100%;

  @include mq('tablet') { flex: 1 0px; }
}

#avatar {
  display: inline-block;
  width: inherit;
  padding: 0;

  img {
    max-width: 8rem;
    border-radius: 0.15rem;

    @include mq('tablet') { max-width: 75%; }
  }

  @include mq('phone-wide') {
    width: auto;
    padding: 1rem;
  }

  @include mq('tablet') {
    display: block;
    text-align: left;
  }
}

.sidebar-content {
  display: inline-block;
  vertical-align: top;

  h1 { @include mq('tablet') { text-align: left; } }
}

.icon-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  @include mq('tablet') { max-width: 16rem; }

  li {
    float: left;
    list-style: none;
  }
}

/* Setup text elements */
p {
  margin: 0.8rem 0;

  code {
    background-color: #eaeaea;
    padding: 3px;
  }
}

h1, h2 { margin: 0.5rem 0; }

/* Breadcrumb Navigation */
.breadcrumbs {
  padding: 0.2rem 1rem;
  margin-top: 0;
  list-style: none;
  background-color: #eee;
  border-radius: 0.6rem;

  li {
    display: inline;
    font-size: 90%;

    &+li:before {
      padding: 0 0.5rem;
      @include fontawesome_icon("\f0da", false, #999, false);
    }
  }
}

/* Comma seperated lists */
.comma-seperated {
  margin: 0;
  padding: 0;
  list-style: none;

  li { display: inline; }

  li+li:before { content: ", "; }
}

/* Blocks */
blockquote {
  padding: 1rem;
  margin: 1rem;
  background-color: #eee;
  border-left: 5px solid #444;
  display: flex;
  align-items: center;
  align-content: center;

  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    vertical-align: middle;
    margin-left: 2rem;
  }

  // Corresponds to shortcode info
  &.info {
    border-left: 5px solid #274798;
    background-color: #e6f3fb;

    .icon { color: #274798; }
  }

  &.warning {
    border-left: 5px solid #881a10;
    background-color: #f9d4d1;

    .icon { color: #881a10; }
  }
}

/* Code, MathJax and Highlighting */
pre {
  margin: 1rem;
  padding-left: 1rem;
}

pre, code {
  .has-jax {
    background: inherit;
    border: inherit;
  }
}

/* Publications */
.paper-list {
  padding: 0;
  margin: 0 0 3rem 0;

  p { margin: 0; }

  li {
    list-style: none;
    margin-bottom: 1.5rem;
  }

  h3 { margin: 0; }
}

.inline-paper-links {
  padding: 0;
  margin-top: 0.25rem;

  li {
    list-style: none;
    display: inline;
    border: 1px dotted #{map-get($content, text)};
    padding: 0.25rem;
    margin-left: 0.25rem;
    border-radius: 4px;

    &:first-child { margin: 0; }
  }
}

.single-paper-links {
  padding: 0;

  li {
    padding: 0 0.75rem;
    list-style: none;
    display: inline;

    &:first-child { padding-left: 0; }
  }
}

/* Projects */
.projects { @extend %clearfix; padding: 0;}

.project {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-clip: border-box;
  border: 1px solid rgba(100, 100, 100, .125);
  border-radius: .25rem;
  display: flex;
  align-items: center;
  align-content: center;

  .image {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    img {
      width: 180px;
      border: 1px solid rgba(100, 100, 100, .225);
    }
  }

  .text {
    vertical-align: middle;
    padding-left: 1.5rem;

    h4 {
      margin-top: 0;

      .label {
        font-size: 80%;
        font-weight: #{map-get($font_weight, body_tw)};
        color: #555;
        background-color: #e7e7e7;
        padding: 0.1rem 0.3rem;
        border-radius: 0.3rem;
      }
    }
  }
}
