

/* Color Scheme */
{{ $colors := .Site.Data.theme.colors }}
$sidebar: (
  background: {{ $colors.sidebar.background }},
  text: {{ $colors.sidebar.text }},
  link: {{ $colors.sidebar.link }},
  hover: {{ $colors.sidebar.linkhover }}
);
$content: (
  background: {{ $colors.content.background }},
  text: {{ $colors.content.text }},
  link: {{ $colors.content.link }},
  hover: {{ $colors.content.linkhover }},
  award: {{ $colors.content.award }}
);

/* Fonts */
{{ $fonts := .Site.Data.theme.fonts }}
$font: (
  {{ range $ftype := (slice "mono" "body" "title") }}
    {{ $ftype }}: {{ (index (where $fonts $ftype true) 0).name }},
  {{ end }}
);
$font_weight: (
  {{ range $ftype := (slice "mono" "body" "title") }}
    {{ with (index (where $fonts $ftype true) 0).textw }}{{ $ftype }}_tw: {{ . }},{{ end }}
    {{ with (index (where $fonts $ftype true) 0).boldw }}{{ $ftype }}_bw: {{ . }},{{ end }}
  {{ end }}
);

{{ $font_string := "" }}
{{ range $ty := (slice "mono" "body" "title") }}
  {{ $f := (index (where $fonts $ty true) 0).name }}
  {{ $w := "" }}
  {{ with (index (where $fonts $ty true) 0).textw }}
    {{ $w = printf `%d,%d%s` . . "italic"}}
  {{ end }}
  {{ with (index (where $fonts $ty true) 0).boldw }}
    {{ $w = printf `%s,%d,%d%s` $w . . "italic"}}
  {{ end }}
  {{ if gt (len $w) 0 }}
    {{ $f = printf `%s:%s` $f $w }}
  {{ end }}
  {{ $font_string = printf `%s|%s` $font_string $f }}
{{ end }}
{{ $font_string = trim $font_string "|" }}
@import url('https://fonts.googleapis.com/css?family={{ $font_string }}');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css');

/* Import subfiles */
@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'layout';
