/* Color Scheme */
$sidebar_color: {{ .Site.Params.sidebar_color }};
$sidebar_link_color: {{ .Site.Params.sidebar_link_color }};
$sidebar_linkhover_color: {{ .Site.Params.sidebar_linkhover_color }};
$text_color: {{ .Site.Params.text_color }};
$text_link_color: {{ .Site.Params.text_link_color }};
$text_linkhover_color: {{ .Site.Params.text_linkhover_color }};

@import 'normalize';
@import 'fonts';
@import 'layout';
@import 'research';

.comma-seperated {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline;
    }

    li+li:before {
        content: ", ";
    }
}
