/* Color Scheme */
{{ $colors := .Site.Data.theme.colors }}
$sidebar: (
  background: {{ $colors.sidebar.background }},
  text: {{ $colors.sidebar.text }},
  link: {{ $colors.sidebar.link }},
  hover: {{ $colors.sidebar.linkhover }}
);
$content: (
  background: {{ $colors.content.background }},
  text: {{ $colors.content.text }},
  link: {{ $colors.content.link }},
  hover: {{ $colors.content.linkhover }},
  award: {{ $colors.content.award }}
);

/* Fonts */
{{ $fonts := .Site.Data.theme.fonts }}
$font: (
  {{ range $ftype := (slice "mono" "body") }}
    {{ $ftype }}: {{ (index (where $fonts $ftype true) 0).name }},
  {{ end }}
);

/* Import subfiles */
@import 'normalize';
@import 'layout';
@import 'fonts';
@import 'research';
