<paper>
  <p><a class="title" href="{{ .Permalink }}">{{ .Title }}.</a></p>
  {{ if (isset .Params "authors") }}<p class="authors">{{ .Params.authors }}.</p>{{ end }}
  {{ if (isset .Params "venue") }}<p class="venue">{{ .Params.venue }}.</p>{{ end }}
  {{ if (isset .Params "award") }}
  <ul class="award comma-seperated">
    {{ range .Params.award }}
      <li><i class="fas fa-trophy" aria-hidden="true"></i>&nbsp;{{ . }}</li>
    {{ end }}
  </ul>
  {{ end }}
  {{ if (isset .Params "links") }}
  <ul class="listing-links">
    {{ range .Params.links }}
    <li class="hollow-button"><a href="{{ .url | absURL }}"><i class="{{ .icon }}" aria-hidden="true"></i>&nbsp;{{ .name }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</paper>
