<h2> {{ .title }}
  {{ if (isset . "subtitle") }}
  <span style="font-size: 60%">{{ .subtitle | markdownify}}<span>
  {{ end }}
</h2>

<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10, "gutter": 10}'>
  {{ range .projects}}
    {{ partial "project_listing" . }}
  {{ end }}
</div>

<style>
  .grid {
    max-width: 1200px;
    margin-bottom: 2em;
  }
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  .grid-item {
    float: left;
    width: 200px;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 5px;
    background: #eee;
    border: 2px solid #333;
    border-radius: 3px;
  }
</style>
