<!-- Generate list of papers -->
{{ $papers := where $.Site.RegularPages "Section" "publications" }}

<!-- Filter by project -->
{{ if eq $.Kind "page" }}
  <!-- Project Page -->
  {{ $papers = where $papers "Params.projects" "intersect" (slice .Params.Project) }}
{{ end }}

<!-- Filter 5 years on homepage -->
{{ $num_years := len ($papers.GroupByDate "2006") }}
{{ if $.IsHome }}
  {{ if .Site.Params.showFeatured }}
    {{ $papers = where $papers ".Params.pubtypes" "intersect" (slice "featured") }}
  {{ end }}
  {{ $num_years = 5 }}
{{ end}}

<!-- Render -->
{{ range first $num_years ($papers.GroupByDate "2006") }}
  <h3 class="title is-3">{{ .Key }}</h3>
  <ul class="paper-list">
    {{ $year := .Key}}
    {{ range sort $papers ".Params.date" "desc" }}
      {{ if eq (dateFormat "2006" .Params.Date) $year }}
        <li>{{ partial "paper-listing.html" . }}</li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
