<!-- Generate list of papers -->
{{ $papers := where $.Site.RegularPages "Section" "publications" }}
{{ $show_type := true }}

<!-- Filter by project -->
{{ if eq $.Kind "page" }}
  <!-- Project Page -->
  {{ $papers = where $papers "Params.projects" "intersect" (slice .Params.Project) }}
{{ end }}

<!-- Filter 5 years on homepage -->
{{ $num_years := len ($papers.GroupByDate "2006") }}
{{ if $.IsHome }}
  {{ if .Site.Params.showFeatured }}
    {{ $papers = where $papers ".Params.featured" "==" true }}
  {{ end }}
  {{ $num_years = 5 }}
  {{ $show_type = false }}
{{ end}}

<!-- Render -->
{{ if $show_type }}
<div class="content paper-type-key">
  <div class="pubtype-preprint">Preprint</div>
  <div class="pubtype-conference">Conference</div>
  <div class="pubtype-journal">Journal</div>
  <div class="pubtype-workshop">Workshop</div>
  <div class="pubtype-abstract">Abstract</div>
</div>
{{ end }}

{{ range first $num_years ($papers.GroupByDate "2006") }}
  <h3 class="title is-3">{{ .Key }}</h3>
  {{ if $show_type}}
    <ul class="paper-list color-paper-types">
  {{ else }}
    <ul class="paper-list">
  {{ end }}
    {{ $year := .Key}}
    {{ range sort $papers ".Params.date" "desc" }}
      {{ if eq (dateFormat "2006" .Params.Date) $year }}
        <li class="paper has-text-left pubtype-{{ .Params.pubtype }}">{{ partial "paper-listing.html" . }}</li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
