<div style="padding: 0.5rem;">
  <section class="section">
    <figure class="image container" style="margin-bottom: 2rem;">
      <img class="is-rounded" src="{{ .Site.Data.personal.avatar | relURL }}" alt="Avatar" />
    </figure>
    <div class="sidebar-content has-text-centered">
      <h1 class="title is-1"><a href="/">{{ .Site.Data.personal.name }}</a></h1>
      <p class="has-text-white-ter">
        {{ .Site.Data.personal.position }}<br>
        {{ .Site.Data.personal.department }} @ {{ .Site.Data.personal.univeristy }}
      </p>
      <ul class="icon-list is-clearfix">
      {{ range $social := .Site.Data.social.link }}
        <li><a href="{{ $social.link }}"><i class="{{ $social.icon }}"></i></a></li>
      {{ end }}
      </ul>
    </div>
  </section>
</div>
