<div id="avatar">
  <img src="{{ .Site.Data.personal.avatar | absURL }}" alt="Avatar" />
</div>

<div class="sidebar-content">
  <h1><a href="{{ "/" | absURL }}">{{ .Site.Data.personal.name }}</a></h1>
  <p>
    {{ .Site.Data.personal.position }}<br>
    {{ .Site.Data.personal.department }}<br>
    {{ .Site.Data.personal.univeristy }}
  </p>

  <ul class="icon-list">
  {{ range $social := .Site.Data.social.link }}
    <li><a href="{{ $social.link }}"><i class="{{ $social.icon }}"></i></a></li>
  {{ end }}
  </ul>
</div>
