{{ define "main" }}
  <div class="content">
    <h1 class="title is-1">
      Not found <span style="color: #bbb;">:(</span>
    </h1>

    <p>
      Sorry, but the page you were trying to view does not exist.
      <br>
      It looks like this was the result of either:
    </p>

    <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
    </ul>

    <!-- Generate list of papers -->
    <h3 class="title is-3"> Perhaps you are looking for one of these:</h3>
    <ul>
      {{ range first 5 (sort (where $.Site.RegularPages "Section" "publications") ".Params.date" "desc") }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}.</a>
            {{ with .Params.venue }}{{ . | markdownify }}.{{ end }}
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
