{{ define "main" }}
  <section class="section">
    <div class="content">
      {{ .Content }}
    </div>
  </section>

  <section class="section">
    <h1 class="title is-1">News</h1>
  	<ul class="news">
  	  {{ range first 5 .Site.Data.news.news }}
  		<li class="has-text-left">
        <span class="date"><i class="fas fa-caret-right"></i>&nbsp;{{ .date }}</span>
        <span>{{ .text | markdownify }}</span>
      </li>
  		{{end}}
  	</ul>
  </section>

  <section class="section has-text-left">
    <h1 class="title is-1">
      Publications&nbsp;
      <span class="subtitle is-4">{{ "[Full List: [Publications](/publications/), [Projects](/projects/)]" | markdownify }}</span>
    </h1>
    {{ partial "publications_bydate.html" . }}
  </section>
{{ end }}
