{{ define "main" }}
  <section class="section">
    <div class="has-text-left">
      <h1 class="title is-1 no-border">{{ .Title }}</h1>
      {{ with .Params.authors}}<h3 class="title is-3">{{ . | $.RenderString }}</h3>{{ end }}
      {{ with .Params.venue }}<h3 class="title is-3 has-text-grey"><i>{{ . | $.RenderString }}</i></h3>{{ end }}
    </div>
    <br><hr>
    <ul class="single-paper-links is-size-3">
      {{ partial "link_resources" .Params.links }}
      {{ partial "pdf_resources" . }}
    </ul>
  </section>

  <section class="section">
    <h2 class="title is-2">Abstract</h2>
    <div class="content">{{ .Content }}</div>
  </section>

  {{ with .Params.award }}
    <section class="section" style="margin-bottom: 1rem;">
      <h2 class="title is-2">Awards</h2>
      <ul class="awards">
        {{ range . }}
          <li>
            <i class="fas fa-trophy" aria-hidden="true"></i>&nbsp;{{ . | $.RenderString }}
          </li>
        {{ end }}
      </ul>
      <br style="line-height: 50%;">
    </section>
  {{ end }}

  {{ with .Params.news }}
    <section class="section" style="margin-bottom: 1rem;">
      <h2 class="title is-2">In the News</h2>
      <ul class="bulleted-list">
        {{ partial "link_resources" . }}
      </ul>
    </section>
  {{ end }}

  {{ if .Resources.Match "ref.bib" }}
    <section class="section" style="margin-bottom: 1rem;">
      {{ $bib := .Resources.GetMatch "ref.bib" }}
      <h2 class="title is-2">
        Citation
        <a href="{{ $bib.RelPermalink }}" style="font-size: 80%"><i class="far fa-arrow-alt-circle-down"></i></a>
      </h2>
      {{ $bibstring := printf "```bibtex \n%s \n ```" (trim $bib.Content "\n") }}
      {{ $bibstring | $.RenderString }}
    </section>
  {{ end }}

  {{ if (isset .Params "projects") }}
    <section class="section" style="margin-bottom: 1rem;">
      <h2 class="title is-2">Related Projects</h2>
      <ul class="bulleted-list">
      {{ range .Params.projects }}
        {{ $project := $.Site.GetPage (printf "/projects/%s" .) }}
        <li><a href="{{ $project.RelPermalink }}">{{ $project.Title }}</a></li>
      {{ end }}
      </ul>
    </section>
  {{ end }}
{{ end }}
