{{ define "main" }}
  <h1 class="no-border">{{ .Title }}</h1>
  {{ with .Params.authors}}<h3>{{ . }}</h3>{{ end }}
  {{ with .Params.venue }}<h4><i>{{ . }}</i></h4>{{ end }}
  {{ with .Params.award }}
  <h4 class="award">
    <ul class="comma-seperated">
      {{ range . }} <li><i class="fas fa-trophy" aria-hidden="true"></i>&nbsp;{{ . }}</li> {{ end }}
    </ul>
  </h4>
  {{ end }}
  <hr style="height:1px; border:none; background-color:#d3d3d3; margin: 0 0 1em 0;">
  <ul class="single-paper-links">
    {{ partial "link_resources" .Params.links }}
    {{ partial "pdf_resources" . }}
    {{ partial "link_resources" .Params.news }}
  </ul>

  {{ .Content }}

  {{ if .Resources.Match "ref.bib" }}
    <h3 style="margin: 2rem 0 0 0;">Citation</h3>
    {{ $bibstring := printf "```bibtex \n%s \n ```" (trim (.Resources.GetMatch "ref.bib").Content "\n") }}
    {{ $bibstring | markdownify }}
  {{ end }}

  {{ if (isset .Params "projects") }}
    <h3 style="margin-top: 2rem;">Related Projects</h3>
    <ul style="margin-top: 0;">
    {{ range .Params.projects }}
      {{ $project := $.Site.GetPage (printf "/projects/%s" .) }}
      <li><a href="{{ $project.Permalink }}">{{ $project.Title }}</a></li>
    {{ end }}
    </ul>
  {{ end }}
{{ end }}
